################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/mafia_engine/__pycache__
/src/mafia_engine/entity/__pycache__
/src/mafia_engine/role/__pycache__
/src/mafia_engine/role/__pycache__
*.pyc
